name: Deploy to GitHub Pages
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Setup Node
        uses: actions/setup-node@master
        with:
          node-version: '12.16.2'
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Update Docs and Commit
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
          git checkout master
          node update-docs.js
          git add -A
          git commit -am 'chore: update github pages docs folder from action'
          git push origin master
